extends layout 

block content 
  h1=category.name
  p=category.description

  p
    a(href='/inventory/categories/' + category._id + '/update') Update category
  p
    a(href='/inventory/categories') Back to categories