extends layout 

block content 
  h1 Delete #{surfboard.name}
  p WARNING: You can't undo this action

  form(method="POST" action="")
  .form-group 
   input#surfboardid.form-control(type="hidden" name="surfboardid" required="true" value=surfboard._id)

  button.btn.btn-danger(type="submit") Delete